* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

button, a {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}


a {
  &:focus-visible {
    outline: auto;
  }
  &:hover:not(:active) {
    text-decoration: underline;
  }
}
html:has(:focus-visible) {
  a {
    text-decoration: underline;
  }
}

:root {
  --bg-1: #ffffff;
  --bg-2: #efdfdf;
  --bg-3: #e4bdbd;
  --text-a: #900000;
  --text-b: #303030;
  --icon: #505050;
  --icon-hover: #909090;
  --scrollbar: #00000060 transparent;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-1: #101010;
    --bg-2: #28283c;
    --bg-3: #42426e;
    --text-a: #c7c7ee;
    --text-b: #dcdcdc;
    --icon: #cccccc;
    --icon-hover: #ffffff;
    --scrollbar: #ffffff60 transparent;
  }
}

html {
  scrollbar-gutter: stable both-edges;
  scrollbar-color: var(--scrollbar);
}

body {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  height: initial;
  display: flex;
  flex-direction: column;
  align-items:     center;
  justify-content: start;
  padding-top:    1rem;
  padding-bottom: 1rem;
  gap: 1rem;
  background-color: var(--bg-1);
  font-family: 'Source Sans 3', 'Segoe UI', Arial, Helvetica, sans-serif;
  color: var(--text-a);
  transition: top 0.5s ease, translate 0.5s ease;
}
html:has(:target) body {
  top: 0;
  translate: none;
}
@media only screen and (max-width: 600px) {
  body {
    top: 0;
    translate: none;
  }
}

body > header {
  width: clamp(50%, 600px, 100%);
  padding: 0.8rem;

  > * {
    margin: 0;
  }

  > h2 {
    font-weight: normal;
  }
}

body > nav {
  display: flex;
  flex-wrap: wrap;
  width: clamp(50%, 600px, 100%);
  min-height: 40px;
  justify-content: space-between;
  align-items:     center;
  padding: 0.8rem;
  padding-top:    0.5rem;
  padding-bottom: 0.5rem;
  gap: 1rem;
  background-color: var(--bg-2);
  box-shadow: 0 0 0 1px var(--bg-3) inset;
}

main {
  display: none;
  width:  clamp(50%, 600px, 100%);
  height: 100%;
  padding: 0.8rem;
  padding-top:    0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--bg-1);
  box-shadow: 0 0 0 1px var(--bg-2) inset;
  color: var(--text-b);

  > section {
    display: none;

    &:target,
    &:has(:target) {
      display: block;
      animation: target-section 0.2s ease;
    }

    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
}
html:has(:target) main {
  display: block;
  animation: target-main 1s ease;
}
@media only screen and (max-width: 600px) {
  html:has(:target) main {
    animation-duration: 0.2s;
  }
}


/* animations */

@keyframes target-main {
  0%, 50% {
    /* prevent early overflow */
    height: 0;
    translate: 0 0.5rem;
    opacity: 0;
    overflow: hidden;
  }
  75% {
    translate: none;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 600px) {
  @keyframes target-main {
    0% {
      translate: 0 0.5rem;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@keyframes target-section {
  0% {
    translate: 0.5rem 0;
    opacity: 0;
  }
  100% {
    translate: none;
  }
}