* {
  box-sizing: border-box;
}

html, body {
  width:  100dvw;
  height: 100dvh;
  margin: 0;
}

h1, h2, h3,
p, blockquote
nav, details {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: blue;

  &:hover:not(:active) {
    color: red;
  }

  &[href^='http']::after {
    content: ' |↗' / '↗';
  }
}

button {
  all: unset;
}

.inline-button {
  display: inline;
  color: blue;
  text-decoration: underline;
  cursor: pointer;

  &:hover:not(:active) {
    color: red;
    user-select: none;
  }
  &:focus-visible,
  &:has(:focus-visible) {
    outline: auto;
  }

  &:has(input:checked):has(.checked) .unchecked {
    display: none;
  }
  &:has(input:not(:checked)) .checked {
    display: none;
  }

  > input {
    all: unset;
    position: absolute;
  }
}

nav {
  margin-top: 1rem;
}

details {
  margin-top: 1rem;
}
summary {
  width: fit-content;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: purple;
  }

  > * {
    display: inline;
  }
}

figure {
  width: fit-content;
}
figcaption {
  text-align: center;
}

li.todo::marker {
  content: '☐ ' / '';
  line-height: 0;
}
li.doing::marker {
  content: '→ ☐ ' / '→';
  line-height: 0;
}
li.done::marker {
  content: '☑ ' / '';
  line-height: 0;
}
li.important::marker {
  content: '!  ' / '❗';
  line-height: 0;
}

blockquote {
  margin: 0;
  margin-top: 1rem;
  padding: 0.5rem;
  border-left: 4px solid black;
  backdrop-filter: brightness(0.95) saturate(2);
}


/* layout */

body {
  display: grid;
  grid-template-columns: 1fr;
  &:has(main :target) {
    grid-template-rows: 4rem 1fr;
  }
  font-family: Georgia, 'Times New Roman', Times, serif;

  @media (min-width: 800px) {
    &:has(main :target) {
      grid-template-columns: 1fr 1fr;
    }
    &, &:has(main :target) { /* repeated selector to override */
      grid-template-rows: 1fr;
    }
  }

  > header {
    padding: 1rem;
    overflow: auto;
  }
}
html:has(#party:target) body {
  background-color: #ffbfff;
  animation: rainbow 4s linear infinite;
}

main {
  position: relative;
  overflow: auto;

  &:not(:has(:target)) {
    display: none;
  }

  &:has(:target:nth-of-type(4n-3)) {
    background-color: #ffbfff;
  }
  &:has(:target:nth-of-type(4n-2)) {
    background-color: #ffffbf;
  }
  &:has(:target:nth-of-type(4n-1)) {
    background-color: #bfffbf;
  }
  &:has(:target:nth-of-type(4n)) {
    background-color: #bfbfff;
  }

  article {
    max-width: 600px;
    scroll-margin-top: 999px; /* always scroll to top */

    &:not(:target) {
      display: none;
    }
  }

  section {
    padding: 1rem;
  }

  img {
    width: 300px;
    max-width: 100%;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  left: 0;
  top:  0;
  padding: 1rem;
  gap: 1rem;
  background-color: inherit;
  z-index: 1;

  > * {
    flex-shrink: 0;
  }
}

html:not(:has(#party:target)) .hampster {
  display: none;
}


/* animations */

@keyframes rainbow {
  100% {
    backdrop-filter: hue-rotate(360deg);
  }
}