* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

h1, h2, h3,
p, blockquote
nav {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: blue;

  &:hover {
    color: red;
  }

  &[href^='http']::after {
    content: ' |↗' / '';
  }
}

.inline-button {
  color: blue;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: red;
    user-select: none;
  }

  &:has(input:checked):has(.checked) .unchecked {
    display: none;
  }
  &:has(input:not(:checked)) .checked {
    display: none;
  }

  > input {
    all: unset;
    position: absolute;
  }
}

nav {
  margin-top: 1rem;
}

summary {
  width: fit-content;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: purple;
  }

  > * {
    display: inline;
  }
}

blockquote {
  margin: 0;
  margin-top: 1rem;
  padding: 0.5rem;
  border-left: 4px solid black;
  background-color: #00000010;
  backdrop-filter: saturate(2);
}

li.todo::marker {
  content: '☐ ';
  line-height: 0;
}
li.doing::marker {
  content: '→ ☐ ';
  line-height: 0;
}
li.done::marker {
  content: '☑ ';
  line-height: 0;
}


/* layout */

body {
  display: grid;
  grid-template-columns: 1fr;
  &:has(main :target) {
    grid-template-rows: 1fr 1fr;
  }
  height: 100%;
    
  @media (min-width: 600px) {
    &:has(main :target) {
      grid-template-columns: 1fr 1fr;
    }
    &, &:has(main :target) { /* repeated selector to override */
      grid-template-rows: 1fr;
    }
  }

  > header {
    padding: 1rem;
    overflow: auto;
  }
}
html:has(#party:target) body {
  background-color: #ff00ff20;
  animation: rainbow 4s linear infinite;
}

main {
  overflow: auto;
  position: relative;
  
  &:not(:has(:target)) {
    display: none;
  }

  article {

    &:not(:target) {
      display: none;
    }

    &:nth-of-type(4n-3) {
      --bg: magenta;
    }
    &:nth-of-type(4n-2) {
      --bg: yellow;
    }
    &:nth-of-type(4n-1) {
      --bg: lime;
    }
    &:nth-of-type(4n) {
      --bg: blue;
    }

    &::before {
      content: '';
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: var(--bg);
      opacity: 0.2;
      z-index: -1;
    
      @media (min-width: 600px) {
        top: 0;
      }
    }
  }

  section {
    padding: 1rem;
  }
}

.actions {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  background-color: white;
  z-index: 1;
    
  @media (min-width: 600px) {
    background-color: transparent;
  }
}

html:not(:has(#party:target)) .hampster {
  display: none;
}


/* animations */

@keyframes rainbow {
  100% {
    backdrop-filter: hue-rotate(360deg);
  }
}